<div class="row">
  <div class="col-xs-12" style="text-align: center">
    <img class="img-personal-size image-space" src="images/{{ctrl.pedido.industria.imagem}}" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12 padding-off">
    <div class="form-group input-group-sm" style="text-align: center">
      <label class="form-control" disabled="disabled" style="height: auto;">{{ctrl.pedido.cliente.id}} - {{ctrl.pedido.cliente.razaoSocial}}</label>
    </div>
  </div>
</div>
<form>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead class="thead-inverse">
            <tr>
              <th>Código</th>
              <th>Descrição</th>
              <th>Quantidade</th>
              <th>Desconto</th>
              <th>Caixa s/ Imp</th>
              <th>Total s/ Imp</th>
              <th>Caixa c/ Imp</th>
              <th>Total c/ Imp</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="i in ctrl.pedido.itensPedido track by i.id">
              <td>{{i.codigo}}</td>
              <td>{{i.descricao}}</td>
              <td>{{i.quantidadeSolicitada}}</td>
              <td>{{i.desconto | percentage}}</td>
              <td>{{i.precoSemImposto | currency:"R$"}}</td>
              <td>{{i.precoSemImposto * i.quantidadeSolicitada | currency:"R$"}}
              </td>
              <td>{{i.precoComImposto | currency:"R$"}}</td>
              <td>{{i.precoComImposto * i.quantidadeSolicitada | currency:"R$"}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="form-group">
        <label>Total Sem Imposto</label> <label class="form-control">{{ctrl.valorTotalPedidoSemImposto | currency:"R$"}}</label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="form-group">
        <label>Total Com Imposto</label> <label class="form-control">{{ctrl.valorTotalPedidoComImposto | currency:"R$"}}</label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="form-group">
        <label>Prazo</label> <label class="form-control" ng-bind="ctrl.pedido.industriaPrazo.descricao"></label>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="form-group" ng-if="!ctrl.isPedidoVenda()">
        <label>Número Pedido Original</label> <label class="form-control" ng-bind="ctrl.getIdPedidoPrincipal()"></label>
      </div>
      <div class="form-group" ng-if="ctrl.isPedidoVenda() && ctrl.possuiPedidoRelacionado()" ng-repeat="pr in ctrl.pedido.pedidosRelacionados">
        <label ng-bind="ctrl.getRotuloPedidoRelacionado(pr)"></label>
        <label class="form-control" ng-bind="(pr.id != null ? pr.id : pr.idPedidoSalvo)"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label>Tabela</label> <label class="form-control" ng-bind="ctrl.pedido.tabela.nome"></label>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="form-group">
        <label for="selCarga">Carga</label>
        <select id="selCarga" class="form-control" ng-model="ctrl.pedido.carga" disabled>
          <option value="1">Batida</option>
          <option value="2">Paletizada</option>
        </select>
      </div>
    </div>
    <div class="col-xs-6 col-sm-2">
      <div class="form-group">
        <label>Total Itens</label> <label class="form-control" ng-bind="ctrl.totalItens"></label>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-xs-12 col-sm-10">
      <chat id-pedido="ctrl.pedido.id" mensagens="ctrl.pedido.mensagens" auth="ctrl.auth" observacoes="ctrl.pedido.observacoesPedidoDto"></chat>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-3 form-group">
      <button class="btn btn-primary btn-sm btn-block" type="button" ng-style="{'background-color': industria.cor}" ng-click="ctrl.voltar()">Voltar</button>
    </div>
    
    <div class="col-xs-12 col-sm-3 form-group">
      <button class="btn btn-primary btn-sm btn-block" type="button" ng-style="{'background-color': industria.cor}" ng-click="ctrl.salvarPedido()">
        Salvar Pedido
      </button>
    </div>

    <div class="col-xs-12 col-sm-3 form-group">
      <button class="btn btn-primary btn-sm btn-block" type="button" ng-style="{'background-color': industria.cor}" ng-click="ctrl.gerarBonificacao()" ng-disabled="ctrl.desabilitaGerarBonificacao()">
        Gerar Bonificação
      </button>
    </div>
    
    <div class="col-xs-12 col-sm-3 form-group">
      <button class="btn btn-primary btn-sm btn-block" type="button" ng-style="{'background-color': industria.cor}" ng-click="ctrl.enviarPedido()">
        Enviar Pedido
      </button>
    </div>
  </div>
</form>