<div class="wrap">
  <nav class="nav-bar navbar-inverse" role="navigation">
    <div id="top-menu" class="container-fluid active">
      <a class="navbar-brand" href="#/dashboard" ng-cloak>{{ctrl.nomeUsuario}}</a>
    </div>
  </nav>
  <aside id="side-menu" class="aside" role="navigation">
    <ul class="nav nav-list accordion">
      <li class="nav-header">
        <div class="link">
          <i class="fa fa-lg fa-globe"></i>Gerenciador Financeiro
          <i class="fa fa-chevron-down"></i>
        </div>
        <ul class="submenu">
          <li>
            <a href="#/dashboard">Principal</a>
          </li>
        </ul>
      </li>

      <li class="nav-header">
        <div class="link">
          <i class="fa fa-lg fa-users"></i>Pedidos
          <i class="fa fa-chevron-down"></i>
        </div>
        <ul class="submenu">
          <li>
            <a ui-sref="main.pedido.cadastro.dados">Novo Pedido</a>
          </li>
          <li>
            <a ui-sref="main.pedido.pesquisa">Exibir Pedidos</a>
          </li>
          <li>
            <a href="#/detalhePedidoSalvo">Exibir Pedidos Salvos</a>
          </li>
        </ul>
      </li>

      <li class="nav-header">
        <div class="link">
          <i class="fa fa-cloud"></i>Clientes
          <i class="fa fa-chevron-down"></i>
        </div>
        <ul class="submenu">
          <li>
            <a ui-sref="main.cliente.cadastro">Novo</a>
          </li>
          <li>
            <a ui-sref="main.cliente.pesquisa">Listar</a>
          </li>
        </ul>
      </li>

      <li class="nav-header">
        <div class="link">
          <i class="fa fa-lg fa-map-marker"></i>Tabelas
          <i class="fa fa-chevron-down"></i>
        </div>
        <ul class="submenu">
          <li>
            <a href="#/cadastroTabela">Cadastro de Tabelas</a>
          </li>
        </ul>
      </li>

      <li class="nav-header" restrict access="Administrador">
        <div class="link">
          <i class="fa fa-lg fa-map-marker"></i>Industrias
          <i class="fa fa-chevron-down"></i>
        </div>
        <ul class="submenu">
          <li>
            <a ui-sref="main.industria.prazo">Configuração</a>
          </li>
        </ul>
      </li>

      <li class="nav-header" restrict access="Administrador">
        <div class="link">
          <i class="fa fa-lg fa-map-marker"></i>Usuários
          <i class="fa fa-chevron-down"></i>
        </div>
        <ul class="submenu">
          <li>
            <a ui-sref="main.usuario.cadastro" ui-sref-active="active">Cadastro</a>
          </li>
          <li>
            <a ui-sref="main.usuario.pesquisa" ui-sref-active="active">Pesquisa</a>
          </li>
        </ul>
      </li>

      <li class="nav-header">
        <div class="link">
          <i class="fa fa-lg fa-map-marker"></i>
          <a ui-sref="login" ui-sref-active="active" ng-click="ctrl.logoff()">Sair</a>
          <i class="fa fa-chevron-down"></i>
        </div>
      </li>
    </ul>
  </aside>

  <div class="content">
    <div class="top-bar">
      <a href="#menu" class="side-menu-link burger">
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>
    </div>
    <section class="content-inner">
      <ui-view></ui-view>
    </section>
  </div>
</div>