<!DOCTYPE>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Template First</title>
    <style>
      div {
        height: 40%;
      }
    </style>
  </head>
  <body>
    <span>Template First</span>
    <div style="background-color: #BDC;">
      <span>Ok, that's right!</span>
    </div>
    <div style="background-color: #2B4; display: inline;">
      <span>Line all!</span>
    </div>
    <div style="background-color: #ADE;">
      <span>This block everything!</span>
    </div>
  </body>
</html>
