<div class="form-group">
	<uib-accordion close-others="oneAtATime">
		<div uib-accordion-group class="panel-default" is-open="true">
			<uib-accordion-heading>
				Observações<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			</uib-accordion-heading>
			<div class="panel-body observacoesScroll">
				<ul class="chat">
					<chat-message mensagens="ctrl.observacoes" auth="ctrl.auth"></chat-message>
				</ul>
			</div>
			<div class="panel-footer">
				<div class="input-group">
					<input id="btn-input" type="text" class="form-control input-sm" placeholder="Escreva sua mensagem aqui..." ng-model="ctrl.observacao"
					/>
					<span class="input-group-btn">
						<button class="btn btn-warning btn-sm" id="btn-chat" ng-click="ctrl.adicionaObservacao()">Enviar</button>
					</span>
				</div>
			</div>
	</uib-accordion>
	</div>